.declarant {
	display: none;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: 0.25rem;
    border-radius: 0.25rem;
}

.bd-callout-info {
    border-left-color: #5bc0de;
}

.bd-callout-warning {
    border-left-color: #f0ad4e;
}

.bd-callout-danger {
    border-left-color: #d9534f;
}

.bd-callout-primary {
    border-left-color: #4e73df;
}

.wlink {
    color: #ffffff;
    text-decoration: none;    
}

.wlink:hover {
    color: #ffffff;
    text-decoration: none;    
}

.reqLink {
    cursor: pointer;
}

.card-title {
    font-size: 0.7rem;
}

.card-head {
    font-size: 1.25rem;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #0b5ed7;
    left: 22px;
    width: 15px;
    height: 15px;
    z-index: 400;
}

.display-small {
    font-size: 2.0em;
}

.w600 {
    font-weight: 600;
    width: 180px;
}

.history-detail {
    color: #374151;
    font-size: .875em;

}

.modal-open {
overflow: visible !important;
}